@import '../../global.css';

.breadcrumbs {
  display: flex;
  align-items: center;
  font: var(--font-body);
}

.links {
  font: var(--font-body);
  color: var(--black);
}

.links:hover {
  text-decoration: underline
}

.chevron {
  width: 8px;
  height: 8px;
  padding-left: var(--spacing-xs);
  padding-right: var(--spacing-xs);
  padding-bottom: 1px;
}