@import '../../global.css';

.button {
  font: var(--font-body);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--br-button);
  border: var(--border-black);
  background: var(--white);
  box-shadow: var(--shadow-1);
  cursor: pointer;
  padding: 0;
}

.subject-button {
  font: var(--font-body);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--br-button);
  border: var(--border-black);
  background: var(--white);
  box-shadow: var(--shadow-1);
  padding: var(--spacing-xs);
  justify-content: left;
  width: var(--skills-button-width);

  @media screen and (max-width: 1000px) {
  }
  @media screen and (max-width: 450px) {
    width: 100%;
  }
}

.skills-button {
  justify-content: left;
  padding: var(--spacing-s) var(--spacing-m);
  gap: var(--spacing-s);
  font-weight: bold;
  color: var(--black);
  max-width: 700px;
}

.skills-button:hover {
  box-shadow: var(--shadow-hover);
}

.skill-icon {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 20px;
}

.subject-tag {
  font: var(--font-h3);
  font-weight: bold;
  display: flex;
  padding: var(--spacing-xs) var(--spacing-s);
  border-radius: var(--br-pill);
  border: var(--border-black);
  width: fit-content;
  cursor: pointer;
}

.subject-tag-selected {
  background-color: var(--light-blue);
}

.subject-tag-unselected {
  background-color: var(--light-grey);
  opacity: 40%;
}

.subject-tag-container {
  display: flex;
  column-gap: var(--spacing-m);
  row-gap: var(--spacing-xs);
  text-wrap: nowrap;
  flex-wrap: wrap;
  padding: var(--spacing-s) 0;
}

/* .subject-button-icon {
  padding: var(--spacing-xs) var(--spacing-xs);
  border-right: var(--border-black);
  width: 45px;
  height: 45px;
  flex-shrink: 0;
} */

.subject-button-name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-xs);
  width: -webkit-fill-available;
  height: 100%;
  border-radius: 0px 4px 4px 0px;
  color: var(--black);
}

.subject-button-selected {
  background-color: var(--yellow);
}

.action-button {
  padding: var(--spacing-xs) var(--spacing-s);
  gap: var(--spacing-s);
  border: var(--border-yellow);
  border-radius: var(--br-button);
  font: var(--font-body);
  text-wrap: nowrap;
  text-decoration: none;
  cursor: pointer;

  @media screen and (max-width: 450px) {
    text-wrap: balance;
  }
}

.action-button:hover {
  box-shadow: var(--shadow-hover);
}

.skills-map-button {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-xs) var(--spacing-m) var(--spacing-xs) var(--spacing-m);
  justify-content: center;
  align-items: center;
  background-color: var(--yellow);
  align-self: center;
  margin: var(--spacing-m) 0;
  cursor: pointer;
  color: var(--black);
}

.subject-grid-and-button {
  display: flex;
  align-items: center;
  gap: var(--spacing-m);

  @media screen and (max-width: 1000px) {
    flex-direction: column;
    align-items: start;

    > a:has(> svg) {
      align-self: flex-end;
    }
  }
}

.subject-grid {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--skills-button-width));
  grid-gap: var(--spacing-m);
  padding-top: var(--spacing-m);
  padding-bottom: var(--spacing-m);
  max-width: min(100%, 800px);

  @media screen and (max-width: 450px) {
    max-width: 100%;
    grid-template-columns: repeat(auto-fill, 100%);
  }
}
