@import '../../global.css';

.button {
  font: var(--font-h3);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--br-button);
  border: var(--border-black);
  background: var(--white);
  box-shadow: var(--shadow-1);
  cursor: pointer;
  padding: 0;
}

.skills-button {
  padding: var(--spacing-s) var(--spacing-m);
  gap: var(--spacing-s);
  font-weight: bold;
}

.skills-button:hover {
  box-shadow: var(--shadow-hover);
}

.skill-icon {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 20px;
}

.subject-tag {
  font: var(--font-h3);
  font-weight: bold;
  display: flex;
  padding: var(--spacing-xs) var(--spacing-s);
  border-radius: var(--br-pill);
  border: var(--border-black);
  background: var(--light-blue);
  width: fit-content;
}

.subject-button-icon {
  padding: var(--spacing-xs) var(--spacing-xs);
  border-right: var(--border-black);
  width: 45px;
  height: 45px;
  flex-shrink: 0;
}

.subject-button-name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-xs);
  width: fill-available;
  height: 100%;
  border-radius: 0px 4px 4px 0px;
}

.subject-button-selected {
  background-color: var(--yellow);
}

.action-button {
  padding: var(--spacing-xs) var(--spacing-s);
  gap: var(--spacing-s);
  border: var(--border-yellow);
  border-radius: var(--br-button);
  font: var(--font-body);
  text-wrap: nowrap;
  text-decoration: none;
}

.action-button:hover {
  box-shadow: var(--shadow-hover);
}

.skills-map-button {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-xs) var(--spacing-s) var(--spacing-s) var(--spacing-s);
  justify-content: center;
  align-items: center;
  background-color: var(--yellow);
  align-self: center;
  margin: var(--spacing-m) 0;
}
