@import '../../global.css';

:root {
  --light-purple-faint: #9f61a133;
  --light-green-faint: #6baa391a;
}

.panel {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--spacing-s) var(--spacing-s);
  gap: 10px;
}

.panel-title {
  display: flex;
  height: 35px;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.panel-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-xs);
  align-self: stretch;

  > span {
    display: contents;
  }
}

.what-does-this-mean-link {
  font: var(--font-caption);
  text-decoration: underline;
  color: var(--black);

  > svg {
    height: 12px;
  }
}

.more-skills-link {
  display: flex;
  height: 100%;
  flex-direction: column;
  text-decoration: underline;
  font-weight: bold;
  justify-content: flex-end;
}

.cluster-category {
  display: flex;
  width: 100%;
  border-radius: var(--br-card);
  box-shadow: var(--shadow-1);
  margin: var(--spacing-s) 0;
  max-width: 700px;
}

.cluster-category-definition-card {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  justify-content: center;
  align-items: center;
  border-radius: var(--br-card);
  padding: var(--spacing-s);
  margin: var(--spacing-m) 0 var(--spacing-l) 0;
  max-width: 700px;
}

.cluster-category-def-and-workplace {
  display: grid;
  grid-template-columns: 35px 1fr;
  grid-template-rows: auto;
  gap: 10px;
  padding: var(--spacing-s) 0;
}

.cluster-category-def-and-workplace:first-child {
  border-bottom: var(--border-black);
}
