@import '../../global.css';

:root {
  --light-purple-faint: #9f61a133;
  --light-green-faint: #6baa391a;
}

.panel {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--spacing-s) var(--spacing-s);
  gap: 10px;
}

.panel-title {
  display: flex;
  height: 35px;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.panel-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-xs);
  align-self: stretch;

  > span {
    display: contents;
  }
}

.what-does-this-mean-link {
  display: flex;
  text-decoration: underline;
  font: var(--font-caption);
}

.more-skills-link {
  display: flex;
  height: 100%;
  flex-direction: column;
  text-decoration: underline;
  font-weight: bold;
  justify-content: flex-end;
}

.cluster-category {
  display: flex;
  width: 100%;
  border-radius: var(--br-card);
  box-shadow: var(--shadow-1);
  margin: var(--spacing-m) 0;
}
