@import '../../global.css';

.layout {
  display: flex;
  align-items: flex-start;
}

.contents-style {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--spacing-l)
}
