@import '../../global.css';

.layout {
  display: flex;
  align-items: flex-start;
  width: 100vw;
  max-width: 100vw;
}

.contents-style {
  display: flex;
  width: 75vw;
  overflow-wrap: break-word;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-start;
  padding: var(--spacing-l);
  min-height: 100vh;

  @media screen and (max-width: 1000px) {
    padding: var(--spacing-l) var(--spacing-m);
    width: 100vw;
  }
}
