@import '../../global.css';

.layout {
  display: flex;
  align-items: flex-start;
}

.contents-style {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-start;
  padding: var(--spacing-l);
  min-height: 100vh;
}
