@import '../../global.css';

.nav-drawer {
  flex-direction: column;
  align-items: flex-start;
  padding: var(--spacing-l);
  border-right: var(--border-black-thick);
  width: 25vw;
  min-width: 275px;
  height: 100vh;
  box-sizing: border-box;
  position: sticky;

  @media screen and (max-width: 800px) {
    z-index: 2;
    width: 100vw;
    height: 100vh;
    position: absolute;
    border: none;
    padding: 100px var(--spacing-l) var(--spacing-l) var(--spacing-l);
  }
}

.nav-drawer-contents-outer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex-grow: 1;
}

.nav-drawer-contents-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 60px;
}

.nav-drawer-button {
  border: none;
  background: none;
  padding: 0px;
  cursor: pointer;
}

.menu-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-m);
  color: var(--black);
  font: var(--font-h3);
  font-weight: bold;
  text-wrap: wrap;

  @media screen and (max-width: 800px) {
    font: var(--font-h2);
  }
}

.hidden-menu-items {
  visibility: hidden;
  pointer-events: none;
}

.nav-link {
  color: var(--black);
  cursor: pointer;
  font-weight: bold;
}

.nav-link:hover {
  text-decoration: underline;
}

.active-nav-link {
  color: var(--white);

  @media screen and (max-width: 800px) {
    color: var(--blue);
  }
}

.small-screen-menu-icon {
  position: absolute;
  top: 40px;
  right: var(--spacing-m);
  border: none;
  padding: 0;
}
