@import '../../global.css';

.headline {
  font: var(--font-headline);
}

.h1 {
  font: var(--font-h1);
  font-weight: bold;
  margin: 0;
}

.h2 {
  font: var(--font-h2);
}

.h3 {
  font: var(--font-h3);
  font-weight: bold;
  margin: var(--spacing-l) 0 0 0;
}

.subheader {
  font: var(--font-subheader);
}

.copy {
  font: var(--font-body);
  max-width: 700px;
  display: inline-block;
}

.caption {
  font: var(--font-caption);
}

.list {
  > li {
    padding: var(--spacing-xxs) 0;
    font-weight: lighter;
  }
  margin-bottom: var(--spacing-m);
}

.link {
  color: var(--blue);
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
}

.details {
  margin-top: var(--spacing-xs);

  > summary {
    padding: var(--spacing-xxs) 0;
    font-weight: bold;
  }
  font-weight: bold;
}
