@import '../../global.css';

.workplace-examples {
  display: flex;
  padding: var(--spacing-m);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-xs);
  border-radius: var(--br-card);
  border: var(--border-black);
  background: var(--white);
  box-shadow: var(--shadow-1);
  margin: var(--spacing-s) 0;
  width: 100%;
  max-width: 700px;
  box-sizing: border-box;
}

.workplace-example-list {
  margin: 0;
  padding-inline-start: 15px;

  > li {
    padding: var(--spacing-xxs) 0;
  }
}

.subjects-list {
  margin: 0;
  padding-inline-start: 15px;
  column-count: 2;

  @media screen and (max-width: 500px) {
    column-count: 1;
  }
}

.subjects-list li {
  > li {
    padding: var(--spacing-xxs) var(--spacing-s) var(--spacing-xxs) 0;
  }
}

.workplace-examples-header {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-xs);
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
